src/main/mule/cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e13e0ba0-69a0-42b2-a7ab-26640d3bbe8c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-demoFlow" doc:id="535938a0-ad41-449d-9a2d-8b87adccc20d" >
		<http:listener doc:name="Listener" doc:id="646a1985-0a8b-44e2-8282-0e046c5fee16" config-ref="HTTP_Listener_config" path="/cicd-demo"/>
		<ee:transform doc:name="Transform Message" doc:id="cc84d700-e190-48cc-80c6-85c13ca692e3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"deploying an api to cloudhub through cicd-git,jenkins"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d9b05e56-448d-44bd-8f7e-62a3fd59d152" message="#[payload]"/>
	</flow>
</mule>
